<!-- <div fxLayout="column" fxLayoutAlign="center"> -->
<!-- 	<mat-card class="aboutCard">  -->
<!-- 		<mat-card-content> -->
<!-- 			fdfdfd -->
<!-- 		</mat-card-content>  -->
<!-- 	</mat-card> -->

<!-- </div> -->

<mat-sidenav-container class="navcontainer">
	<mat-sidenav-content>

		<mat-card style="width: 500px; margin: 40px  auto;">
		
			<div class="aboutContent">
				<h3>1996 Honda Accord</h3>
				<ul>
					<li>Recently damaged by another driver backing out from a driveway into the side as I was driving past</li>
					<li>220,000 km</li>
					<li>2.2L VTi</li>
					<li>Always sheltered in garage or car port</li>
					<li>Never any electrical or mechanical issues</li>
					<li>Regularly serviced every six months</li>
				</ul>
	
				<button mat-raised-button color="primary" type="button" (click)="doHello();">Get Hello</button>
	
			</div>
			
		</mat-card>

	</mat-sidenav-content>

</mat-sidenav-container>
